.add-contact-table {
  width: 100%;
  margin: auto;
}
.add-contact-table tr:nth-child(2) td {
  text-align: center;
}
.add-contact-table td {
  padding: 20px 30px;
}
.add-contact-form-div {
  position: absolute;
  top: 20%;
  left: 25%;
}
.add-contact-header {
  text-align: center;
  margin-top: 30px;
}
.add-form-btn {
  margin-top: 20px;
  text-align: center;
}
