<div class="contact-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- NAME COLUMN -->
      <<ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let contact">{{ contact.name }}</td>
      </ng-container>
      <!-- PHONE COLUMN -->
      <<ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let contact">{{ contact.phone }}</td>
      </ng-container>
      <!-- EMAIL COLUMN -->
      <<ng-container matColumnDef="E-Mail">
        <th mat-header-cell *matHeaderCellDef>E-Mail</th>
        <td mat-cell *matCellDef="let contact">{{ contact.email }}</td>
      </ng-container>
      <!-- ACTION COLUMN -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">
          Actions
        </th>
        <td mat-cell *matCellDef="let contact" style="text-align: center">
          <button mat-button color="primary" (click)="editContact(contact.id)">
            Edit
          </button>
          <button mat-button color="warn" (click)="deleteContact(contact.id)">
            Delete
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of Contacts"
    >
    </mat-paginator>
  </div>
</div>
