<div class="welcome-page">
  <div class="welcome-page-content">
    <h3 class="welcome-page-header">Welcome to Contacts Manager</h3>
    <div class="button-div">
      <button mat-stroked-button routerLink="add">Add Contacts</button>
      <button
        mat-stroked-button
        style="float: right; margin-right: 10px"
        routerLink="view"
      >
        View All Contacts
      </button>
      <div class="description">
        <span
          >A Simple application to add, view and manage contact
          information.</span
        ><br />
        <span>Created using Angular, Material UI and .NET Core Web API</span>
      </div>
    </div>
  </div>
</div>
